body {
  font-family: Arial, sans-serif;
   transition: background-color 0.3s, color 0.3s;
}
.light-mode {
  background-color: white;
  color: black;
}

.dark-mode .logo h1 {
  color: white;
}
.dark-mode {
  background-color: #47555E;
}

.dark-mode .nav-item a{
  color: #ccc;
}

.dark-mode .nav-item a:focus,
.dark-mode .nav-item a:hover{
  color: white;
}

.btn-theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.btn-theme-toggle i {
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.dark-mode .btn-theme-toggle i:nth-child(2) {
    display: none;
   background-color: white;/* Hide moon icon in dark mode */
}

.light-mode .btn-theme-toggle i:nth-child(1) {
    display: none; /* Hide sun icon in light mode */
}

.dark-mode .btn-theme-toggle i:nth-child(1) {
    color: white; /* White color for sun icon in dark mode */
}

.light-mode .btn-theme-toggle i:nth-child(2) {
    color: black; /* Black color for moon icon in light mode */
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  color: black;
 
}

.light-mode header{
 border-bottom: 2px solid black;
}

.dark-mode header{
  background-color: #272829;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  color: black;
}

/* Navigation */

 .nav-item a{
  color: black;
 }

 .nav-item a:focus,
 .nav-item a:hover {
  color: #CCD5AE;
 }

@media screen and (max-width: 480px) {
  #nav-bar {
    display: none;
  }

.dark-mode span{
  color: white;
}

   #mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  #mySidenav a:hover {
    color: #f1f1f1;
  }

  #mySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
    #mySidenav {
    height: auto; 
    width: 40%; 
    position: fixed;
    z-index: 1000; 
    top: 0;
    right: -80%; 
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .dark-mode #mySidenav{
    background-color: #272829;
  }
  .dark-mode #mySidenav a{
    color: white;
  }

}
    @media screen and (min-width:481px){
      #mySidenav, .Side-nav{
        display: none;
      }
    }



#welcome{
  background-color: white;
  color: black;
}
#welcome h3{
  padding-top: 8px;
  font-weight: bold;
  font-size: 20px;
}
.dark-mode #welcome{
  background-color: #47555E;
  color: white;
}

#about {
  position: relative;
  background-color: #cadbc8;
  padding: 40px;
  z-index: 1;
  overflow: hidden; 
}

.dark-mode #about {
  background-color: #34495e;
  color: #ccc;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-me {
  display: flex;
  align-items: center;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-details {
  flex: 1;
  text-align: center;
  padding-left: 20px;
}

.about-text p {
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
}

.dark-mode .about-text p{
color: grey;
font-weight: bold;
}

.about-text h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: black;
}

.dark-mode .about-text h2{
  color: white;
  font-weight: bold;
}
.animated-text {
  animation: changeText 10s infinite;
}

span p::before {
            content: "Web Developer";
            animation: animate infinite 5s;
            text-transform: uppercase;
            padding-left: 10px;
             font-size: 22px;
             margin-bottom: 25px;
             color: blueviolet;
             font-weight: bold;
        }
         
        @keyframes animate {
  
            25% {
              content: "Web Developer";
                  color: #1D5D9B;  
                  font-weight: bold;        
                }
  
            50% {
                   content: "App Developer";
                color: red;
                font-weight: bold;
         }
  
            75% {
                content: "SEO Expert";
                color: #0D1282;
                font-weight:bold ;

            }
            100%{
              content: "Digital Marketer";
                color: brown;
                font-weight: bold;
            }

        }

.about-description p {
  font-size: 16px;
  margin-bottom: 15px;
  color: black;
}

.dark-mode .about-description p{
  color: grey;
  }

.about-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border: none;
}

.about-button a:hover {
  background-color: black;
  color: white;
}

.dark-mode .about-button a{
  background-color: white;
  color: grey;
  font-weight: bold;
}
.dark-mode .about-button a:hover{
  background-color: grey;
  color: white;
}


.about-social-media ul {
  list-style-type: none;
  padding: 0;
}

.about-social-media ul li {
  margin-right: 10px;
}

.about-social-media ul li a{
    color: black;
  font-size: 22px;
}

.dark-mode .about-social-media ul li a{
    color: white;
  }

@media screen and (max-width: 480px) {
  .about-me {
    flex-direction: column;
    align-items: center;
  }

  .about-image {
    order: -1;
    margin-bottom: 20px;
  }

  .about-details {
    padding-left: 0;
  }

  .about-details,
  .about-image {
    flex: none;
    width: 100%;
  }

  .about-image img {
    max-width: 200px;
    height: auto;
  }

  .about-text p {
    padding-top: 5px;
    font-size: 14px;
  }

  .about-text h2 {
    font-size: 20px;
  }

  .about-description p {
    font-size: 14px;
  }

  .animated-text {
    font-size: 14px;
  }
}

/* Skills */
#skills {
  background-color: white;
  color: #333333;
  transition: ease 3s;
}

.dark-mode #skills{
  background-color: #47555E;
  color: white;
}

#skills h2 {
  padding-bottom: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  flex-basis: calc(50% - 20px);
  margin-bottom: 30px;
}

.skill h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: black;
  width: 0;
}

.skill.active .progress-bar {
  animation: slideIn 3s ease forwards;
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
  width: var(--progress-width);
  }
}

 .progress .progress-bar{
background-color: black;
}

.dark-mode .progress .progress-bar{
  background-color: #34495e;
}
.dark-mode .skill h3{
color: white;
}

@media screen and (max-width: 480px) {
  #skills .container h2{
    text-align: center;
  } 
  .skill{
    margin-left: 15px;
    margin-right: 25px;
  }
}

/* Services */
#services {
  background-color: white;
  color: #333333;
}

.dark-mode #services {
  background-color: #47555E; 
  color: white;
}

#services h2 {
  margin-bottom: 40px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  flex-basis: calc(25% - 20px);
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px black;
  margin: 10px; 
  transform: scale(0.8);
  transition: transform 5s ease, box-shadow 5s ease, opacity 5s ease; 
}

.service.active {
  opacity: 1;
  transform: scale(1); 
}

.dark-mode .service h3{
  font-weight: bold;
  color: black;
}
.dark-mode .service p{
  color: black;
}

@media screen and (max-width: 480px) {
  .service {
    flex-basis: 100%; 
  }
  #services h2{
    text-align: center;
  }
}

.service img {
  max-width: 80px;
  height: auto;
  margin-bottom: 20px;
}

.service h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service p {
  font-size: 16px;
  color: #777;
}

/* Projects */
.gallery-container {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: none;
}

.active {
  display: block;
}

.gallery-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.gallery-navigation-button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 20px;
}

@media (max-width: 480px) {
  .gallery-container {
    flex-direction: row; /* Stack images horizontally for small screens */
    align-items: center;
  }

  .gallery-navigation {
    flex-direction: row; /* Keep navigation buttons horizontal */
    justify-content: center;
  }

  .gallery-image {
    height: auto; /* Display complete image */
    width: 100%; /* Adjusted to make images responsive */
    object-fit: cover; /* Maintain aspect ratio and cover container *//* Initially hide all images */
  }

  .gallery-navigation-button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 20px;
    display: inline-block; /* Display forward arrow only */
  }

  .gallery-navigation-button:first-child {
    transform: none; /* Add this line for back arrow */
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  max-width: 70%;
  max-height: 70%;
  margin: auto;
  display: block;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width:480px){
  #projects h2{
    text-align: center;
  }
  }

/* Recommendations */
#recommendations {
  background-color: white;
}

.dark-mode #recommendations{
  background-color: #47555E;
}

#recommendations h2 {
  margin-left: 20px;
  margin-bottom: 60px;
}

.dark-mode #recommendations h2{
color: white;
}

.recommendation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

}

.recommendation {
  flex: 0 0 calc(33.33% - 20px);
  text-align: center;
  background-color:white;
  border: 2px solid black;
    transform-origin: 0 0;
  transform: translateX(-100px);
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.recommendation-container:is(:hover,:active :focus) .recommendation {
  transform: translateX(0);
  opacity: 100%;
}

.recommendation-container .recommendation:nth-of-type(1) {
  transition-delay: 0ms;
}

.recommendation-container .recommendation:nth-of-type(2) {
  transition-delay: 100ms;
}

.recommendation img{
  margin-top: 10px;
}
@media (max-width: 480px) {
  #recommendations h2{
    text-align: center;
  }

  .recommendation {
    flex: 0 0 70%;
  }
}

.recommendation img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.recommendation h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.recommendation p {
  font-size: 16px;
  color: #777;
}


#contact {
  background-color: white;
  color: black;
}

.dark-mode #contact{
  background-color: #47555E;
}

#contact h2{
  padding-left: 20px;
  padding-bottom: 60px;
}

.dark-mode #contact h2{
  color: white;
}

.contact-form {
  width: 80%; 
  max-width: 500px; 
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.dark-mode label{
  color: white;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}


button[type="submit"] {
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
}

button[type="submit"]:hover{
  background-color: black;
  color: white;
  border: 2px solid white;
}


.dark-mode button[type="submit"]{
  background-color: white;
 color: #47555E;
 border: 2px solid white;
}

.dark-mode button[type="submit"]:hover{
  background-color: #47555E;
  color: white;
  border: 2px solid white;
}


@media screen and (max-width: 480px) {
  #contact h2 {
    font-size: 20px;
    text-align: center;
  }
  .contact-form {
    width: 90%; 
    padding: 0 10px; }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 14px;
    padding: 8px;
  }

  button[type="submit"] {
    font-size: 16px;
    padding: 8px 16px;
  }
}

footer {
  background-color: white;
  color: black;
    }

.light-mode footer{
  border-top: 2px solid black;

}

.dark-mode footer{
  background-color: #272829;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contact-details,
.social-media {
  flex: 1;

}

.contact-details h3,
.social-media h3 {
  margin-bottom: 20px;
}

.contact-details p,
.social-media ul {
  margin-bottom: 10px;
}

.social-media ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.social-media ul li {
  margin-right: 10px;

}

.social-media ul li a {
  color: black;
  font-size: 20px;
}
.contact-details p,
.social-media ul li a {
  color: black;
}
.dark-mode .contact-details p,
.dark-mode .social-media ul li a{
  color: white;
}

.dark-mode .contact-details h3,
.dark-mode .social-media h3{
  color: white;
}

@media screen and (max-width: 480px) {

  footer .container {
    padding-left: 10px;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }

  .contact-details,
  .social-media {
    flex: none;
    width: 100%;
      }
}
